.container {
    display: flex;
    flex-direction: column;
    margin: 10px 90px;
    background-color: #ebf6f5;
    align-items: center;
    border-radius: 10px;
}

.container h2:hover {
    text-decoration: underline;
    cursor: pointer;
}