button {
  background-color: white;
  color: black;
  padding: 5px; 
  border-radius: 10px;
  border: none; 
}

button:Hover {
  background-color: lightgray;
  cursor: pointer;
}

.sessionContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #ebf6f5;
  align-items: center;
  border-radius: 10px;
}

.sessionHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  gap: 10px;
  font-size: large;
}

.sessionInputField {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
